@using AzNamingTool.Helpers
@inherits LayoutComponentBase
@implements IDisposable
@inject StateContainer state

<PageTitle>Azure Naming Tool</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<button type="button" class="btn btn-danger btn-sm" 
        @onclick="() => OpenDeleteDialog()">Delete</button>

@if (DeleteDialogOpen)
{
    <PasswordModal OnClose="@OnDeleteDialogClose">
    </PasswordModal>
}

@code {

    public bool DeleteDialogOpen { get; set; }

    private string? message;

    protected override void OnInitialized()
    {
        GeneralHelper.VerifySecurity(state);
        // Check that the admin password is set
        if(!state.Password)
        {
            OpenDeleteDialog();
        }
    }

    private void ChangePropertyValue()
    {
    }

    public void Dispose()
    {
        state.OnChange -= StateHasChanged;
    }

    private void OpenDeleteDialog()
    {
        DeleteDialogOpen = true;
        StateHasChanged();
    }

    private async Task OnDeleteDialogClose(bool accepted)
    {
        DeleteDialogOpen = false;
        StateHasChanged();
    }
}